<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.modules.planning.mapper.ApprovedManufacturerMapper">

    <select id="selectByItemMasterId" resultType="com.cy.modules.planning.entity.ApprovedManufacturer">
        SELECT * FROM wh_approved_manufacturer
        WHERE item_master_id = #{itemMasterId}
        ORDER BY priority ASC, create_time DESC
    </select>

</mapper>
