<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.modules.planning.mapper.BomItemRefDesMapper">

    <select id="selectByBomItemId" resultType="com.cy.modules.common.entity.BomItemRefDes">
        SELECT * FROM pl_bom_item_refdes WHERE bom_item_id = #{bomItemId} ORDER BY ref_designator
    </select>

    <delete id="deleteByBomItemId">
        DELETE FROM pl_bom_item_refdes WHERE bom_item_id = #{bomItemId}
    </delete>

</mapper>
