<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.modules.planning.mapper.RoutingMapper">

    <select id="selectByProductId" resultType="com.cy.modules.planning.entity.Routing">
        SELECT * FROM wh_routing WHERE product_id = #{productId} ORDER BY create_time DESC
    </select>

    <select id="selectByStatus" resultType="com.cy.modules.planning.entity.Routing">
        SELECT * FROM wh_routing WHERE status = #{status} ORDER BY create_time DESC
    </select>

</mapper>
