<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.modules.common.mapper.ProductionLineMapper">

    <select id="selectByStatus" resultType="com.cy.modules.common.entity.ProductionLine">
        SELECT * FROM pl_production_line WHERE status = #{status} ORDER BY create_time DESC
    </select>

</mapper>
