<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.warehouse.mapper.BomMapper">

    <select id="selectByProductId" resultType="org.jeecg.modules.warehouse.entity.Bom">
        SELECT * FROM wh_bom WHERE product_id = #{productId} ORDER BY create_time DESC
    </select>

    <select id="selectByStatus" resultType="org.jeecg.modules.warehouse.entity.Bom">
        SELECT * FROM wh_bom WHERE status = #{status} ORDER BY create_time DESC
    </select>

</mapper>
