<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.warehouse.mapper.WorkOrderMapper">

    <select id="selectByStatus" resultType="org.jeecg.modules.warehouse.entity.WorkOrder">
        SELECT * FROM wh_work_order WHERE status = #{status} ORDER BY create_time DESC
    </select>

    <select id="selectByProductionLineId" resultType="org.jeecg.modules.warehouse.entity.WorkOrder">
        SELECT * FROM wh_work_order WHERE production_line_id = #{productionLineId} ORDER BY planned_start_date ASC
    </select>

    <select id="selectByBomId" resultType="org.jeecg.modules.warehouse.entity.WorkOrder">
        SELECT * FROM wh_work_order WHERE bom_id = #{bomId} ORDER BY create_time DESC
    </select>

</mapper>
